/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #6D1B1B, #353535);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Gestion de aulas */
.main-title {
    font-size: 40px; /* Tamaño grande */
    font-weight: bold; /* Texto en negrita */
    color: white; /* Color blanco para contraste */
    text-align: center; /* Centrado */
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 3px; /* Espaciado entre letras */
    margin-top: 20px; /* Espacio desde el encabezado */
    text-shadow: 3px 3px black; /* Efecto de sombra */
    font-family: 'Arial Black', sans-serif; /* Fuente llamativa */
    margin-top: 60px;
}

.page-title{
    font-size: 40px; /* Tamaño grande */
    font-weight: bold; /* Texto en negrita */
    color: white; /* Color blanco para contraste */
    text-align: center; /* Centrado */
    text-transform: uppercase; /* Todo en mayúsculas */
    text-shadow: 3px 3px black; /* Efecto de sombra */
    font-family: 'Arial Black', sans-serif; /* Fuente llamativa */
}
/* Imagen principal */
.main-image {
    max-width: 300px; 
    width: 100%; 
    height: 100%;
    display: block; /* Evita espacios en línea no deseados */
    margin: 0 auto 0 auto; /* Espacio superior reducido y centrado */
}
.icon-image {
    max-width: 30px; 
    width: 100%; 
    height: 100%;
}

/* Encabezado */
.header, .menu-header {
    width: 100%;
    background: #A01616;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 3px solid black;
    box-shadow: 5px 5px black;
    
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Contenedor del logo */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Imagen del logo */
.logo-img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

/* Botón de volver */
.back {
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
    width: 120px;
    height: 40px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.back:hover {
    background-color: #7e7e7e;
}

/* Contenedores */
.container {
    width: 90%;
    max-width: 800px;
}

.form-container {
    background: #A01616;
    max-width: 600px;
    margin-top: 10;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Formularios */
.form-label {
    color: white;
    font-size: 20px;
    font-family:'Arial', sans-serif;
}

.form-control {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.form {
    padding: 20px;
    background: #A01616;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 5px 5px black;
    text-align: center;
    width: 350px;
    margin-top: 60px;
}

.title {
    color: white;
    font-family: 'Arial Black', sans-serif;;
    font-size: 27px;
}

.subtitle {
    color: white;
    font-weight: 400;
    font-size: 15px;
}

.title span {
    color: #ddd;
    font-weight: 600;
    font-size: 17px;
}

.input {
    width: 250px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding: 5px 10px;
    outline: none;
    text-align: left;
}

.input::placeholder {
    color: #666;
    opacity: 0.8;
}

.input:focus {
    border: 2px solid #E6332A;
}

.button-confirm {
    margin-top: 10px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.button-confirm:active {
    box-shadow: 0px 0px black;
    transform: translate(3px, 3px);
    background-color: #7e7e7e;

}


/* Botón de guardar */
.save-button {
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px black;
    font-weight: 600;
    
    
}

.save-button:hover {
    background: #E6332A;
}

.btn-imprimir {
    background-color: #28a745;
    color: white;
}

/* Tablas */
.table-container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #E6332A;
    color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Botones */
.menu-button, .search-button, .add-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px black;
    cursor: pointer;
    border-radius: 25em;
    
}

.menu-button {
margin-top: 20px;
 border-radius: 30em;
 position: relative;
 overflow: hidden;
 z-index: 1;

}
.menu-button:before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #E6332A 0%, #ddd 100%);
    transition: .4s ease;
    display: block;
    z-index: -1;
}
.menu-button:hover::before {
    width: 100%;
}

.search-button {
    background: #E6332A;
    color: white;
}

.search-button:hover {
    background: #C62828;
}

.add-button {
    background: white;
    color: black;
}

.add-button:hover {
    background: #ddd;
}

.btn-seleccionado {
    background-color: #E6332A !important; /* Color azul destacado */
    color: white !important;
    font-weight: bold;
    
}


/* Responsividad */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .form-container {
        width: 90%;
        padding: 15px;
    }

    .menu-header {
        flex-direction: column;
        text-align: center;
    }

    .logo-img {
        max-width: 150px;
    }
}
